body {
    background-color: #efefef;
    margin: 0;
    padding: 0;
    color: gray;
    font-style: italic;
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 600px;
    min-height: 600px;
    background-color: #fff;
    padding: 20px;
}

.formLayout {
    width: 350px;
    display: inline-block;
}

.formLayout label, .formLayout .text {
    display: inline-block;
    width: 120px;
}

.formLayout input[type="text"], .formLayout input[type="password"] {
    width: 150px;
    height: 20px;
    padding: 5px;
    font-style: italic;
    color: green;
    font-size: 14px;
}

.formLayout br {
    clear: both;
}

.error {
    color: red;
}